.fonts {
    color: black;
    font-size: 15px;
    text-align: center;
}
.a {
    color: #34558b;
    font-size: 30px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App-logo {
    height: 70vmin;
    pointer-events: none;
}
