.fonts {
    font-size: 0.9375rem;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: -0px;
}

.a {
    color: #34558b;
    font-size: 1.875rem;
    font-weight: bold;
}

.logo {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigFont {
    font-size: 2rem;
    color: #34558b;
    font-weight: bold;
}

.Intro {
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

@media only screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
    }

    .fonts {
        font-size: 0.8375rem;
    }

    .a {
        font-size: 1.675rem;
    }

    .bigFont {
        font-size: 1.8rem;
    }

}


