.fonts {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: -0px;
}

.a {
    color: #34558b;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Intro {
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

img {
    width: 34%;
    height: 70vmin;
    background-color: #34558b;
}

@media only screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
    }
    img {
       margin-bottom: 5%;
        margin-top: 5%;
        width: 80%;
    }

}


