.row__posters {
    width: 94%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 2% 1.5% 2% 1.5%;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.second__posters {
    width: 94%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 2% 1.5% 2% 1.5%;
}

.second__posters::-webkit-scrollbar {
    display: none;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    margin-top: 0.5rem;
    border: 1px solid black;
    width: 7.5rem;
    height: 2.7rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    border: 1px solid white;
}
