.row__posters {
    width: 94%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.second__posters {
    width: 94%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
}

.second__posters::-webkit-scrollbar {
    display: none;
}