.Container {
    width: 80%;
    padding: 4% 4% 5% 4%;
    border: 1px solid #adadad;
    border-radius: 25px;
    min-height: 60vh;
    margin: 40px auto 3rem;
}

.Banner {
    font-weight: bold;
    text-align: center;
    border-width: thin medium;
    font-size: 40px;
}

.PostBox {
    height: 100%;
    padding: 1% 5% 1% 5%;
    border-radius: 10px;
    border: 3px solid #030303;
    box-sizing: border-box;
    align-items: center;
}

.PostName {
    font-weight: bold;
    text-align: Left;
    font-size: 30px;
    margin-top: 1.9%;
    margin-bottom: 0.4%;
}

.PostNameDate {
    font-weight: bold;
    text-align: Left;
    font-size: 15px;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
}

.PostNameImage {
    width: 60px;
    height: 60px;
    margin-top: 0;
    border: 2px solid #000000;
    border-radius: 100%;
}

.PostDate {
    /*min-height: 40vh;*/
    line-height: 200%;
    font-size: 1.5rem;
}

.PostBoxLine {
    border: 1px solid black;
}

@media only screen and (max-width: 768px) {
    .Container {
        width: 95%;
    }

    .PostDate {
        font-size: 1rem;
    }
    .PostName{
        font-size: 1.5rem;
    }
}