.Container {
    padding: 3% 4% 4% 4%;
    margin: auto;

}

.Banner {
    width: 70%;
    font-weight: bold;
    text-align: center;
    border-width: thin medium;
    font-size: 40px;
    margin: auto auto 36px;

}

.PostBox {
    margin: auto;
    width: 85%;
    height: 100%;
    background: whitesmoke;
    border-radius: 10px;
    border: 3px solid #030303;
    box-sizing: border-box;
    align-items: center;
}

.PostName {
    width: 95%;
    font-weight: bold;
    text-align: Left;
    font-size: 30px;
    margin-top: 1.9%;
    margin-bottom: 0.4%;
}

.PostNameDate {
    font-weight: bold;
    text-align: Left;
    font-size: 15px;

    margin-top: 0.7%;
    margin-bottom: 0.5%;
}

.PostNameImage {
    width: 60px;
    height: 60px;

    margin-top: 0;
    border: 2px solid #000000;
    border-radius: 100%;
}

.PostDate {
    width: 90%;

}

.PostBoxLine {

    border: 1px solid black;
}
