.Container {
    padding: 1% 4% 4% 4%;

}

.UploadText {
    width: 70%;
    text-align: center;
    margin: auto auto 30px;
}

.UploadTitle {
    width: 70%;
    text-align: center;
    margin: auto auto 30px;
}

.Center {
    width: 70%;
    font-weight: bold;
    text-align: center;
    border-width: thin medium;
    font-size: 40px;
    margin: auto auto 36px;

}

.FileUp {
    width: 70%;
    border: black solid;
    border-width: thin medium;
    margin: auto auto 30px;
    display: flex;

    align-items: center;
}

.ButtonStyle1 {
    background: rgb(223, 222, 222);
    font-size: 1.5em;
    border: 3px solid rgb(78, 78, 78);
    margin-right: 20px;
    cursor: pointer;
}
.ButtonStyle2 {
    background: white;
    font-size: 1.5em;
    border: 3px solid rgb(78, 78, 78);
    cursor: pointer;
}

.Center1 {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .UploadText {
        width: 90%;
    }

    .UploadTitle {
        width: 90%;
    }
    .FileUp {
        width: 90%;
        margin: auto auto 10px;
    }

}
