.container {
    width: 60%;
    padding: 3% 4% 4% 4%;
    border: 1px solid #adadad;
    border-radius: 25px;
    margin: auto;

}

.UploadText {
    text-align: center;
    margin: auto auto 30px;
}

.UploadTitle {
    text-align: center;
    margin: auto auto 30px;
}

.Center {
    font-weight: bold;
    text-align: center;
    border-width: thin medium;
    font-size: 40px;
    margin: auto auto 36px;

}

.FileUp {
    margin-top: 0.7rem;
    width: 100%;
    padding: 8px;
    border: 2px solid #adadad;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.ButtonStyle1 {
    font-size: 1.5em;
    cursor: pointer;
    padding: 4px 7px;
}
.Center1 {

    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
.input-file-button {
    padding: 6px 25px;
    background-color: pink;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}


.btn-grad {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad1 {background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA  51%, #50C9C3  100%)}
.btn-grad1 {
    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
}

.btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
   .btn-grad1{
       padding: 5px 15px;
   }
    .btn-grad{
        padding: 5px 15px;
    }
    .FileUp{
        width: 95%;
        padding: 8px;
    }
    .container {
        width: 90%;
    }

}